{%extends 'calculator/base.html'%}
{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
      type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock css%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Factorial Calculator | Free Calculator to find Factorial</title>
<meta name="description"
      content="Capacitance Calculator makes it easy for you to determine the value of capacitance, area, and distance with steps."/>
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url"/>
<meta property="og:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution"/>
<meta property="og:description" content="Angular Resolution Calculator"/>
<meta content="" property="og:site_name"/>
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
      property="og:image"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:height" content="435"/>
<meta property="og:image:width" content="354"/>
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
<meta name="twitter:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution"/>
<meta name="twitter:description"
      content="Angular Resolution Calculator makes it easy for you to determine the theoretical yield value of the chemical reaction in fraction of seconds with steps."/>
<meta name="twitter:image:src"
      content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"/>
<meta property="twitter:image:height" content="435"/>
<meta property="twitter:image:width" content="354"/>
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Angular Resolution Calculator | Free Calculator to find Angular Resolution"/>
<meta property='og:image'
      content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"/>
<meta property='og:description' content="Angular Resolution Calculator."/>
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/"/>
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock meta %}

{% block content %}
<button type="button" hidden id="hassle" onclick="location.href='#'">ans1</button>

<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Combination Calculator</h1>
        </div>
        <div class="card-body">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                   style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'combinations-replacement' %}" method="POST" id="my_form">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <p class="input-group-text" id="basic-addon1">n (objects)</p>
                    </div>
                    <input style="margin-top: 5px;width:100%" id="n" name="n" value="{{n}}" required=""
                           oninput="validateNumber(this);" class="form-control" type="number" required width="48">

                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <p class="input-group-text" id="basic-addon1">r (sample) :</p>
                    </div>
                    <input style="margin-top: 5px;width:100%" id="r" name="r" value="{{r}}" required=""
                           oninput="validateNumber(this);" class="form-control" type="number" required width="48">

                </div>


                <!--                    calculations :-->
                <div>
                    <div class=" center col mt-2 ">

                        <center>
                            <button type="submit" class="btn btn-primary">Calculate+</button>
                            <a href="{% url 'combinations-replacement' %}" class="btn btn-warning">Reset</a>
                        </center>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
</div>


<!--          output : Result of combination replacement-->
<div id="clear">
    <div class="container" style="height: auto !important;">
        {% if result %}

        <div class="card c1">
            <div class="card-header">
                <h3 class="h2">What is Combinations Replacement ?</h3>
                <ul>
                    <li>The number of ways to choose a sample of r elements from a set of n distinct objects where order does not matter and replacements are allowed.</li>
                    <li>Where : </li>
                    <ul>
                        <li>n - The set or population</li>
                        <li>r - subset of n or sample set</li>
                    </ul>

                </ul>
            </div>

        <div class="card c1">
            <div class="card-header">
                <h3 class="h2">Use of calculator ?</h3>
                <ul>
                    <li>For a combination replacement sample of r elements taken from a set of n distinct objects, order does not matter and replacements are allowed.</li>

                    <li>The Combinations Replacement Calculator will find the number of possible combinations that can be obtained by taking a subset of items from a larger set. Replacement or duplicates are allowed meaning each time you choose an element for the subset you are choosing from the full larger set. This calculates how many different possible subsets can be made from the larger set. For this calculator, the order of the items chosen in the subset does not matter.</li>

                    <li>Combinations with replacement, also called multichoose, for C<sup>R</sup>(n,r) = C(n+r-1,r) = (n+r-1)! / r! (n+r-1 - r)! = (n+r-1)! / r! (n - 1)!.<br>
                        For n >= 0, and r >= 0. If n = r = 0, then C<sup>R</sup>(n,r) = 1.</li>
                </ul>
            </div>

            <div class="card-body">

                <h3>Formula for Combinations with Replacement :-</h3>
                <p>
                    <strong><h2>C<sup>R</sup>(n,r) = (n+r−1)! <span>&#247;</span> r!(n−1)!</h2></strong>
                </p>

                <h5>Put values in Formula </h5>
                <strong>Combination C<sup>R</sup>({{n}},{{r}}) = ({{n}}+{{r}}-1)! / ({{r}}! ✕ ({{n}}-1)! )</strong>
                <p>(n+r-1)! = ({{n}}+{{r}}-1)! = {{in1}}!= {{output1}} = {{result1}}</p>
                <p>r! = {{r}}! = {{output2}} = {{result2}} </p>
                <p>(n-1)! = ({{n}} - 1)! = {{in2}}! = {{output3}} = {{result3}} </p><br>

<!--                <p>C<sup>R</sup>({{n}},{{r}}) = {{output1}} / (({{output2}}) ✕ ({{output3}}))</p>-->
                <p>C<sup>R</sup>({{n}},{{r}}) = {{result1}} / ({{result2}} ✕ {{result3}})</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; = {{ result }}</p>


                <center><b id="formula" style="font-size:25px;">Combination replacement C<sup>R</sup>({{n}},{{r}}) = {{result}} </b></center>

            </div>
        </div>
        {% endif %}


    </div>
</div>
{% endblock content %}