{%extends 'calculator/base.html'%}
{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
      type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock css%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Cross Partition Calculator</title>
<meta name="description"
      content="Capacitance Calculator makes it easy for you to determine the value of capacitance, area, and distance with steps."/>
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url"/>
<meta property="og:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution"/>
<meta property="og:description" content="Angular Resolution Calculator"/>
<meta content="" property="og:site_name"/>
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
      property="og:image"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:height" content="435"/>
<meta property="og:image:width" content="354"/>
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
<meta name="twitter:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution"/>
<meta name="twitter:description"
      content="Angular Resolution Calculator makes it easy for you to determine the theoretical yield value of the chemical reaction in fraction of seconds with steps."/>
<meta name="twitter:image:src"
      content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"/>
<meta property="twitter:image:height" content="435"/>
<meta property="twitter:image:width" content="354"/>
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Angular Resolution Calculator | Free Calculator to find Angular Resolution"/>
<meta property='og:image'
      content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"/>
<meta property='og:description' content="Angular Resolution Calculator."/>
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/"/>
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock meta %}

{% block content %}
{% if  flag  %}
<script>
        $(document).ready(function () {
            $("#hassle").click();
        });

</script>
<button type="button" hidden id="hassle" onclick="location.href='#cross-partition'">ans1</button>
{% endif %}


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Cross Partition Calculator</h1>
        </div>
        <div class="card-body">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                   style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}

<!----------   Form  --------->
            <form action="{% url 'cross-partition' %}" method="POST" id="my_form">
                {% csrf_token %}

                 <div class="input-group mb-3">
                     <span class="mt-2">Enter partitions (Enter each partition in square brackets and set in braces, separated by comma)
                     for Ex: [{1,2,3},{2,3}][{3,4},{6,3,4}]</span>
                 </div>
                <div>
                    <input style="margin-top: 5px;width:100%" id="partition_entered" type="text" step="any" name="partition_entered"
                           value="{{partition_entered}}" class="form-control" required width="48">
                 </div>


<!----------    Calculate, Reset part-->
                <div>
                    <div class="center col mt-2 ">
                        <center>
                            <button type="submit" class="btn btn-primary">Calculate</button>
                            <a href="{% url 'cross-partition' %}"  class="btn btn-warning" style="margin-top:5px;">Reset</a>
                        </center>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


<!--summary of result and how it's evaluated-->
<div id="clear">
    <div class="container" style="height: auto !important;">

        {% if flag %}
            <div class="card c1" id="find-both-numbers">
            <div class="card-header">
                <h2 class="h2">Steps to find cross partitions :</h2>
            </div>

            <div class="card-body">

                <p>Determine each cross-partition for the following 4 partitions</p>
                <p>{{partition_entered}}</p>

                <strong>Determine the Intersection of all items of Partition 1 Subset 1 by Partition 2</strong>
                <p>Rearranging Equation 1, we get </p>
                <p>{{ rearranged_eq_1 }}</p>
                <p>{{ rearranged_eq_2}}</p>

                <p style="text-decoration:underline;">Use the substitution method to solve the system of equatios:</p>
                <p>{{ rearranged_eq_1 }}</p>
                <p>{{ rearranged_eq_2}}</p>
                <p>Equation 1 is in the correct ax + by format.</p>
                <p>Equation 2 is in the correct ax + by format.</p>

                <strong style="text-decoration:underline;">Rearrange Equation 2 to solve for x</strong>
                <p>{{ rearranged_eq_2}}</p>

                <strong>Substract y from both sides to isolate x :</strong>
                <p>x + y - y = {{ num2 }} - y </p>
                <p>{{eq_after_sub_from_both_sides_str}}</p>


                <strong style="text-decoration:underline;">Now take our original equation 1, and plug our revised Equation 2 value into x :</strong>
                <p>rearranged_eq_1 </p>
                <p>[{{num2}} - y] - y = {{p}}</p>
                <p> {{putting_x_in_sub}}</p>

                <strong>Solve for y:</strong>
                <p>{{y_is}}</p>

                <strong>Now that we have solved for y, plug this into the original Equation 1 to solve for x</strong>
                <p>{{rearranged_eq_1}}</p>
                <p>x - {{y_result}} = {{p}}</p>
                <p>{{eq_x_result}} </p>


            </div>
        </div>
        {% endif %}
</div>
</div>
{% endblock content %}