{%extends 'calculator/base.html'%}
{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
      type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock css%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Slope intercept form Calculator | Free Calculator to find Slope intercept form</title>
<meta name="description"
      content="Capacitance Calculator makes it easy for you to determine the value of capacitance, area, and distance with steps."/>
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url"/>
<meta property="og:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution"/>
<meta property="og:description" content="Angular Resolution Calculator"/>
<meta content="" property="og:site_name"/>
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
      property="og:image"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:height" content="435"/>
<meta property="og:image:width" content="354"/>
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="https://twitter.com/onlinecalculator"/>
<meta name="twitter:title" content="Slope intercept form Calculator | Free Calculator to find Slope intercept form"/>
<meta name="twitter:description"
      content="Slope intercept form Calculator makes it easy for you to determine the theoretical yield value fraction of seconds with steps."/>
<meta name="twitter:image:src"
      content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"/>
<meta property="twitter:image:height" content="435"/>
<meta property="twitter:image:width" content="354"/>
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Slope intercept form Calculator | Free Calculator to find Slope intercept form"/>
<meta property='og:image'
      content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"/>
<meta property='og:description' content="Slope intercept form Calculator."/>
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/"/>
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock meta %}

{% block content %}
{% if  flag  %}
<script>
        $(document).ready(function () {
            $("#hassle").click();
        });

</script>
<button type="button" hidden id="hassle" onclick="location.href='#slope-intercept-form'">ans1</button>
{% endif %}


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Slope intercept form Calculator</h1>
        </div>
        <div class="card-body">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                   style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}

<!----------   Form  --------->
            <form action="{% url 'slope-intercept-form' %}" method="POST" id="my_form">
                {% csrf_token %}

                 <div class="input-group mb-3">
                    <div class="input-group-prepend">
                            <span class="input-group-text" >First point coordinates</span>
                    </div></div>

                        <div class="input-group-prepend">
                            <span class="input-group-text" >x<sub>1</sub></span>

                    <input style="margin-top: 5px;width:100%" id="x1" type="number" step="any" name="x1"
                           value="{{x1}}" required=""
                            class="form-control" required width="48">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >y<sub>1</sub></span>
                    </div>

                     <input style="margin-top: 5px;width:100%" id="y1" type="number" step="any" name="y1"
                           value="{{y1}}" required=""
                           class="form-control" type="text" required width="48">
                            </div>
                            <br>


<!--                second point coordinates -->

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                            <span class="input-group-text" >Second point coordinates</span>
                    </div></div>
                <div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" >x<sub>2</sub></span>

                    <input style="margin-top: 5px;width:100%" id="x2" type="number" step="any" name="x2"
                           value="{{x2}}" required=""
                            class="form-control" type="text" required width="48">
                        <div class="input-group-prepend">
                            <span class="input-group-text" >y<sub>2</sub></span>
                    </div>

                     <input style="margin-top: 5px;width:100%" id="y2" type="number" step="any" name="y2"
                           value="{{y2}}" required=""
                            class="form-control" type="number" required width="48">
                            </div>

                    </div>
<!----------    Calculate, Reset part-->
                <div>
                    <div class="center col mt-2 ">
                        <center>
                            <button type="submit" class="btn btn-primary">Calculate</button>
                            <a href="{% url 'slope-intercept-form' %}"  class="btn btn-warning" style="margin-top:5px;">Reset</a>
                        </center>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<!--summary of result and how it's evaluated-->
<div id="clear">
    <div class="container" style="height: auto !important;">

        {% if flag %}
            <div class="card c1" id="slope-intercept-form">
            <div class="card-header">
                <h2 class="h2">Steps to find Slope intercept form :</h2>
            </div>

            <div class="card-body">
                <strong>Formula:</strong><br>
                <p class="btn btn-outline-secondary active">m = (y₂ - y₁)/(x₂ - x₁)</p> <br>
                <p class="btn btn-outline-secondary active">b = y₁ - m * x₁</p> <br>

                <strong>where:</strong>
                <ul>
                    <li>
                        (x₁, x₂) - coordinate of 1st point
                    </li>
                    <li>
                        (y₁, y₂)  - coordinate of 2nd  point
                    </li>
                </ul>

                <strong>Input values are:</strong>
                <p>x₁ = {{ x1 }}</p>
                <p>y₁ = {{ y1 }}</p>
                <p>x₂ = {{ x2 }}</p>
                <p>y₂ = {{ y2 }}</p>

                <strong>Put values into formula:</strong>

                    <p>m = ( {{y2}} - ({{y1}}) ) / ( {{x2}} - ({{x1}}) ) = ({{y}})/({{x}})</p>
                    <p>b =  {{y1}} - ({{m_result}}) * ({{x1}})</p>

                <strong>Result:</strong>
                <p>Slope intercept form: y = mx + b = {{m_result}}x + ({{b_result}})</p>
                <p>m = {{m_result}}</p>
                <p>b = {{b_result}}</p>
                <p>x intercept = {{x_intercept}}</p>
                <p>y intercept = {{y_intercept}}</p>

            </div>
        </div>
        {% endif %}
</div>
</div>
{% endblock content %}